.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .register-box {
        padding: 15px;
    }

    .register-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}